<launch>
  <!--
    Hand controller raw publisher. Picks CAN (SocketCAN) or USART (ttyUSB)
    based on controller_protocol. Assembly/calibration are offline.
  -->
  <arg name="controller_protocol" default="can" doc="can | usart" />

  <arg name="can_channel" default="can0" />
  <arg name="usart_port"  default="/dev/ttyUSB0" />
  <arg name="usart_baud"  default="115200" />

  <group if="$(eval arg('controller_protocol') == 'can')">
    <node pkg="umi_dex" type="can_raw_node" name="can_raw"
          output="screen" required="true">
      <param name="can_channel" value="$(arg can_channel)" />
    </node>
  </group>

  <group if="$(eval arg('controller_protocol') == 'usart')">
    <node pkg="umi_dex" type="usart_raw_node" name="usart_raw"
          output="screen" required="true">
      <param name="usart_port" value="$(arg usart_port)" />
      <param name="usart_baud" value="$(arg usart_baud)" />
    </node>
  </group>
</launch>
